<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDoc"
        tools:targetApi="31">
        <activity
            android:name=".ApproveDoctor"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".GettingStarted1"
            android:exported="true" />
        <activity
            android:name=".regsiterdoctordetails"
            android:exported="false" />
        <activity
            android:name=".registerpatientdetails"
            android:exported="false" />
        <activity
            android:name=".registeroption"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".GettingStarted3"
            android:exported="false" />
        <activity
            android:name=".GettingStarted2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXmWNTntiaI4iW1LiiUz4tmUrBFLe8puw" />
    </application>

</manifest>